bash_profile.log
sources_non_forked/vim-snipmate/doc/SnipMate.txt
template

temp_dirs/undodir/*
sources_non_forked/ack.vim/.netrwhist
sources_non_forked/coc-rust-analyzer
temp_dirs/yankring_history_v2.txt
sources_forked/yankring/doc/tags
sources_non_forked/tlib/doc/tags
sources_non_forked/ctrlp.vim/doc/tags*
my_plugins/
my_configs.vim
tags
.DS_Store


# Added by cargo

/target
